<div class="position-sticky pt-3">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="">
                <span data-feather="shopping-cart"></span>
                Categorías
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">
                <span data-feather="aperture"></span>
                Entradas
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">
                <span data-feather="award"></span>
                Etiquetas
            </a>
        </li>
    </ul>

</div>